In [1]:
import pandas as pd

In [2]:
df_explain = pd.read_csv('explain.csv')

In [3]:
df_explain

,text,hatewords
0,RT @maathbz: to pensando em virar PM só pra mu...,NaN
1,"Minha ideologia é o Brasil, deixa o povo ficar...",NaN
2,@user @user o bixo do busao carai kkkkjjjjj,bixo
3,#joicetraidora,traidora
4,Pirralha!!!,pirralha
...,...,...
495,rt @user bangu só existe dois climas: frio da ...,"porra,caralho"
496,gastei tipo bicho esse mês e não posso mais ga...,NaN
497,oi posso te chamar? — chama ue,NaN
498,Que exemplo,NaN
499,rt @user o primeiro requisito para fazer parte...,"mau,caráter,oportunista"

In [ ]:
def avaliar_explicacao_overlap(palavras_lime, palavras_verdadeiras, threshold=80):
    if not palavras_verdadeiras:
        return 1.0 if not palavras_lime else 0.0
    acertos = 0
    for anotada in palavras_verdadeiras:
        if any(fuzz.ratio(anotada, lime) >= threshold for lime in palavras_lime):
            acertos += 1
    return acertos / len(palavras_verdadeiras)